/*amarillo #f6a800 */
/* gris #3e3f41 */
/* blanco #ffffff */
/* placeholder #a9a9ab */
/* color iniciar sesion #3e4573*/

body{
	background-color: #3e3f41;
	margin:0;
	padding: 0;
	overflow-x: hidden;
	color:white;
}

/*PAGINA UNO INDEX.HTML*/
.pagina1,.formulario1,.registrate{
	padding-top: 72px;
}
.registrate{
	padding-top: 50px;
	padding-bottom: 30px;
}
.logo{
	width: 35%;
}
.amarillo{
	color:#f6a800;
}
a{
    color: white;
}

a:hover{
    color:#f6a800 ;
    text-decoration: none;

}

.btn:hover{
    background-color:#3e3f41;
}
input.username-text {
    width: 100%;
    padding: 4px 5px 5px 25px;
    font-size: 13px;
    font-weight: 500;
    vertical-align: middle;
    color: #bbb;
    border: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 7px 50%;
    background-size: 20px;
    background-image: url(../img/user.png);
}

input.password-text {
    width: 100%;
    padding: 4px 5px 5px 25px;
    font-size: 13px;
    font-weight: 500;
    vertical-align: middle;
    color: #bbb;
    border: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 7px 50%;
    background-size: 20px;
    background-image: url(../img/key.png);
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    background-color:#f6a800 ;
    color:#ffffff;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    
}

.btn-default:hover, .open>.dropdown-toggle.btn-default {
    color:#f6a800;
    background-color:#3e3f41;
    border-color: transparent;
}


.form-control {
    display: block;
    width: 100%;
    height: 74px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /*border-radius:;*/
}

/*validacion*/
.errores {
    -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #f6a800;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    display: none;
    font-size: 14px;
    margin-top: -20px;
    margin-left: 176px;
    padding: 10px;
}

.text-btn{
    padding-top: 20px;
}




