/*amarillo #f6a800 */
/* gris #3e3f41 */
/* blanco #ffffff */
/* placeholder #a9a9ab */
/* color iniciar sesion #3e4573*/
/*fondo #dddee0*/

body{
	background-color:#dddee0;
	margin:0;
	padding: 0;
	overflow-x: hidden;
	color:#f6a800;
}

.navBar{
    background-color:#3e3f41;

}
.div-correo{
    margin-top: 30px;
    background-color: #FFF;
    width: 100%;
    height: 50px;
    color:black;
}

#respuesta-email{
    padding-top: 12px;
    font-weight: 600;
    color:black;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    background-color:#f6a800 ;
    color:#ffffff;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    
}

.btn-default:hover, .open>.dropdown-toggle.btn-default {
    color:#f6a800;
    background-color:#3e3f41;
    border-color: transparent;
}
.opciones{
	padding-top: 60px;
}

.btn2{
		padding-top: 30px;
}

a{
    color: white;
}

a:hover{
    color:#f6a800 ;
    text-decoration: none;

}

.btn:hover{
    background-color:#3e3f41;
}


.fotouser{
    background-color:#f6a800;
    padding-bottom: 20px;
    padding-top: 20px;
}

img{
    width: 50%;
}



.correo-div{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}



input{
    background-color:#dddee0;
    border-left: transparent;
    border-right:  transparent;
    border-top: transparent;
    border-bottom: 1px solid #3e3f41 ;
    width: 100%;
    color:black;

}

.tarjeta{
    padding-top: 20px;

}
.tarjeta-div{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.btn-div{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
/*MENU*/
header{
    padding: 70px; 
    text-align: center;
    background-color: #3e3f41; 
    height: 100vh;
}
/*ESTILOS DE LA IMAGEN*/
.imagen{
    width: 50%;
    height: 50%;
}
/*TITULO DEL HEADER*/
.titulo{
    color: #f6a800;
    font-weight: bolder;
}
/*ESTILOS DEL BOTON*/
.btn-color{
    background-color: #f6a800;
    color: #3e3f41;
    width: 100%;
    border: 0px;
}
/*TEXTO BLANCO*/
.blanco{
    color: white;
}
/*ALINEADO IZQ*/
.izq{
    text-align: left;
}
/*TEXTO NARANJO*/
.orange{
    color: #f6a800;
}
/*ALINEACIÓN DESDE ARRIBA*/
.top{
    padding-top: 30px;
}

/*ESTILOS MENU-APP*/
/*ALINEAR CENTRO*/
.centro{
    text-align: center;
}
.navbar-header{
    padding: 10px;
    background-color: #3e3f41;
}
/*ESTILOS MENU*/
.menu{
    background-color: #a9a9ab;
    height: 100vh;
    padding-top: 50%;
}
/*ESPACIO ARRIBA*/
.mtop{
    margin-top: 10px;
}


/*Prueba SIDENAV*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #3e3f41;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f6a800;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 18px;
    margin-left: 50px;
}

/*TAMAÑO ICONO HAMBURGUESA*/
.fa-bars{
    font-size: 24px;
}
.fa-times{
    background-color: transparent;
    padding-top: 10px;
}
.icono {
    position: relative;
    right: 60px;
}

.text-trans-lab{
    font-size: 30px;
}
/*ESTILOS ICONOS*/
.fa-user, .fa-usd, .fa-th, .fa-file-text, .fa-long-arrow-right{
    color: #f6a800;
    background-color: transparent;
    padding: 5px;
}

